body {
    background-color: #DADADA;
    line-height: 1.5em;
    height: 100%;
    font-size: 14px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

input {
    border-radius: .29rem;
    border: 1px solid rgba(34, 36, 38, .15);
    padding: .67em;
}

button {
    cursor: pointer;
    font-weight: 700
}

h3 {
    font-size: 1em !important;
    margin: 0.45em !important;
}

.outer-container {
    display: block;
    align-items: stretch;
    max-width: 100% !important;
}

@media only screen and (min-width: 500px) {
    /* 0.93*1300 = 1209px */
    .outer-container {
        padding-top: 100px;
        width: 1209px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.main-container {
    margin: -1rem -1rem;
}

.right {
    /*  text-align: center;*/
    background-color: white;

    display: inline-block;
    margin: 14px;
    min-width: 350px;

    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    width: 31.25% !important;
}

.left {
    width: 60.25% !important;
    margin: 14px;
    min-width: 350px;
    float: left;
    background-color: white;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
}

.line {
    margin: 5px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.outer-block-h {
}

.outer-block-h, .outer-block {
    border-bottom: 1px solid rgba(34, 36, 38, .15)
}

.outer-block {
    vertical-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.outer-block:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: none;
}

.button1 {
    border-radius: .23em .23em 0;
    border: none;
    background-color: #2185D0;
    color: white;
    align-content: center;
    float: right;
    padding: 0.4em 0.4em;
}

.button1:hover {
    background-color: #4060ff;
}

.item-not-bought {
    display: inline-flex;
}

.item-bought {

    display: inline-flex;
}

.item-name, .item-name-n {
    padding: 1.3em 1em;
    text-align: left;
    display: inline;
}

.item-name-n {
    text-decoration: line-through;
}

.buttonm, .buttonx {
    background-color: #DB2828;
    color: white;
    padding: 0.3em 0.3em;
    min-height: 1em;
    line-height: 1em;
}

.buttonp {
    background-color: #21BA45;
    padding: 1px;
    color: white;
}

.buttonp:hover {
    background-color: #227331;
}

.buttonp, .buttonm {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0.3em 0.3em;
    min-height: 1em;
    line-height: 1em;
    min-width: 1em;
}

.buttonx {
    width: 45px;
    height: 45px;
    min-height: 1em;
    line-height: 1em;
    min-width: 1em;
}

.buttonx:hover {
    background-color: #950a03;
}

.buttonm, .buttonp, .buttonx {
    border: none;
}

.qty-block-b, .quantity {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0.4em;
    margin-top: .2em;
    margin-bottom: .2em;
}

.quantity {
    background-color: #E8E8E8;
    width: fit-content;

}

.button-wrapper {
    padding-top: .5em !important;
    padding-left: 1rem;
    padding-right: 0.3rem;
    padding-bottom: .4em !important;
}

.buttonx, .button-not-bought {
    float: right;
}

.button-bought, .button-not-bought {
    border-radius: .4em;
    border: none;
    line-height: 2em;
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
    font-size: .65rem;
    padding: 1em 2em 1.15em;
}

.button-not-bought:hover, .button-bought:hover {
    background-color: #c3cbbb;
}

.button-bought {
    cursor: pointer;
    text-align: center;
    display: inline-block;

    float: right;
    margin-right: 5px;
    padding: 1em 2em 1.15em;
}

.buttonp, .buttonm, .buttonx, .button-not-bought, .button-bought, .button1 {
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.buttonm {
    cursor: default;
}

.label {
    padding: .58em .63em;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-left: 0.4rem;
}

.label:first-child {
    margin: 0;
}

.segment {
    border-top: 1px solid rgba(34, 36, 38, .15);
    padding: 0.45em 0.45em 0.45em;
    line-height: 2em;
    margin: 0.4rem 0;
}

.segment:first-child {
    border-top: none;
}

.title {
    text-align: center;
    font-size: 11px;
}

.value, .valueb {
    display: inline-block;
    border-radius: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: orange;
    color: white;
    font-size: 10px;
    text-align: center;
}

.titleb {
    font-size: 11px;
    text-decoration: line-through;
}

.titleb, .valueb {
    text-decoration: line-through;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
    z-index: 2;
    transition: opasity 0s 5s, visibility 1.4s linear 1.3s;

}

[data-tooltip]:before {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 110%;
    left: 65%;
    padding: .5em;
    margin-left: -60px;
    content: attr(data-tooltip);
    width: 80px;
    background-color: #6d27b4;
    text-align: center;
    border-radius: .4em;
    font-size: 1rem;
    color: white;
    transition: all .4s 1.7s ease-in-out;
}

[data-tooltip]:hover:before {
    visibility: visible;
    transition: all .9s linear;
    bottom: 50px;
    opacity: 1;
}

.badge {
    margin: 0 14px 0 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    background-color: #ad53b4;
    transition: all 2s ease;
}

.badge-text, .hidden-text, .p-text {
    color: white;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;;
}

.badge-text {
    font-size: 30px;
}

.p-text {
    font-size: 14px;
    margin-bottom: 0 !important;
}

.hidden-text {
    font-size: 16px;
}

#hidden {
    display: none;
}

.badge:hover {
    background-color: #2c2cb4;
    transition: .5s linear;
    transition-delay: .32s;
    bottom: 10px;
}

.badge:hover #hidden {
    display: block;
}

@media print {
    .badge {
        background-color: white;
        border: 1px solid #ad53b4;
    }

    .badge-text {
        display: none;
        visibility: hidden;
    }

    #hidden {
        display: block;
    }

}

@media (min-width: 500px) and (max-height: 500px) {
    .badge { /*crunch!!*/
        position: relative;
        float: left;
    }

    .badge-text {
        font-size: 12px;
    }
}