h1 {
    color: blue;
    text-align: center;
}

body {
    background-color: #DADADA;
}

.container {
    margin: 100px;
}

.right {
    text-align: center;
    background-color: white;
    padding: 15px;
    display: block;
    max-width:500px;
}

.left {
    text-align: center;
    float: left;
    background-color: white;
    padding: 15px;
    display: block;
    max-width: 600px;

    vertical-align: top;
}

